<app-navbar></app-navbar>

<main>
  <div class="row">
    <div class="col-auto">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light side-nav">
        <a class="d-flex align-items-center mb-0 me-md-auto link-dark text-decoration-none">
          <span class="fs-5">Start</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-3">
          <li class="nav-item">
            <a class="nav-link pointer" [ngClass]="tab === 'connect' ? 'active' : 'link-dark'" (click)="tab = 'connect'">
              <span class="faFixedSize"><fa-icon [icon]="faEthernet"></fa-icon></span>
              Verbindung
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pointer" [ngClass]="{'active': tab === 'sim', 'disabled': !ati}" (click)="tab = 'sim'">
              <span class="faFixedSize"><fa-icon [icon]="faSimCard"></fa-icon></span>
              SIM
            </a>
          </li>
        </ul>
        <a class="d-flex align-items-center mb-0 me-md-auto link-dark text-decoration-none">
          <span class="fs-5">Überwachung</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-3">
          <li class="nav-item">
            <a class="nav-link pointer" [ngClass]="{'active': tab === 'network', 'disabled': !ati}" (click)="tab = 'network'">
              <span class="faFixedSize"><fa-icon [icon]="faSatelliteDish"></fa-icon></span>
              Signal
              <span class="float-end text-danger" *ngIf="checkCSQActive"><fa-icon [icon]="faPlay"></fa-icon></span>
            </a>
          </li>
          <li>
            <a class="nav-link pointer" [ngClass]="{'active': tab === 'provider', 'disabled': !sim || sim.error}" (click)="tab = 'provider'">
              <span class="faFixedSize"><fa-icon [icon]="faWifi"></fa-icon></span>
              Netzwerk
            </a>
          </li>
        </ul>
        <a class="d-flex align-items-center mb-0 me-md-auto link-dark text-decoration-none">
          <span class="fs-5">Diagnose</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link pointer" [ngClass]="{'active': tab === 'device', 'disabled': !ati}" (click)="tab = 'device'">
              <span class="faFixedSize"><fa-icon [icon]="faMicrochip"></fa-icon></span>
              Hardware
            </a>
          </li>
          <li>
            <a class="nav-link pointer" [ngClass]="{'active': tab === 'availableNetworks', 'disabled': !ati}" (click)="tab = 'availableNetworks'">
              <span class="faFixedSize"><fa-icon [icon]="faSatelliteDish"></fa-icon></span>
              Verfügbare Netze
            </a>
          </li>
          <li>
            <a class="nav-link pointer" [ngClass]="{'active': tab === 'simInfo', 'disabled': !sim || sim.error}" (click)="tab = 'simInfo'">
              <span class="faFixedSize"><fa-icon [icon]="faSimCard"></fa-icon></span>
              SIM
            </a>
          </li>
          <li>
            <a class="nav-link pointer" [ngClass]="{'active': tab === 'at', 'disabled': !ati}" (click)="tab = 'at'">
              <span class="faFixedSize"><fa-icon [icon]="faTerminal"></fa-icon></span>
              AT Befehle
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <section class="mt-2">
        <div class="row" style="font-size: 18px">
          <div class="col-auto pe-5">Port:<br>
            <span class="fw-bold text-primary" *ngIf="selectedPort">{{selectedPort.comName}}</span>
            <span class="fw-bold text-secondary" *ngIf="!selectedPort">-</span>
          </div>
          <div class="col-auto pe-5">Modul:<br>
            <span class="fw-bold text-success" *ngIf="ati">{{ati.model}}</span>
            <span class="fw-bold text-secondary" *ngIf="!ati">-</span>
          </div>
          <div class="col-auto pe-5">SIM:<br>
            <span class="fw-bold text-secondary" *ngIf="!sim">-</span>
            <span class="fw-bold text-success" *ngIf="sim && !sim.error">{{sim.status}}</span>
            <span class="fw-bold text-danger" *ngIf="sim && sim.error">{{sim.status}}</span>
          </div>
          <div class="col-auto pe-5">Signal:<br>
            <span class="fw-bold text-success" *ngIf="csq && csq.length >= 1 && (csq[csq.length - 1].quality === 'Excellent' || csq[csq.length - 1].quality === 'Good')">{{csq[csq.length - 1].dbm}} dBm ({{csq[csq.length - 1].quality}}
              )</span>
            <span class="fw-bold text-warning" *ngIf="csq && csq.length >= 1 && csq[csq.length - 1].quality === 'Ok'">{{csq[csq.length - 1].dbm}} dBm ({{csq[csq.length - 1].quality}})</span>
            <span class="fw-bold text-danger" *ngIf="csq && csq.length >= 1 && (csq[csq.length - 1].quality === 'Bad' || csq[csq.length - 1].quality === 'Very Bad')">{{csq[csq.length - 1].dbm}} dBm ({{csq[csq.length - 1].quality}})</span>
            <span class="fw-bold text-secondary" *ngIf="!csq || csq.length < 1">-</span>
          </div>
          <div class="col-auto pe-5">AT Status:<br>
            <span class="fw-bold text-secondary" *ngIf="atStatus === 'OK'">OK</span>
            <span class="fw-bold text-warning" *ngIf="atStatus === 'WAITING'">Warte auf: {{lastCommand}}</span>
            <span class="fw-bold text-danger" *ngIf="atStatus === 'SYSTEM_ERROR'">Fehler</span>
          </div>
        </div>
        <hr>
      </section>

      <section *ngIf="tab === 'connect'">
        <h5 class="mt-3">Einstellungen:</h5>
        <div class="row">
          <div class="col-8">
            <div class="label">Port</div>
            <div class="input-group input-group-sm">
              <select class="form-select form-select-sm" [(ngModel)]="selectedPortId" (ngModelChange)="selectPort(selectedPortId)">
                <option *ngFor="let port of ports" [value]="port.path">{{port.comName}}</option>
              </select>
              <button class="btn btn-sm btn-success" (click)="getAllPorts()">Update</button>
            </div>
          </div>
        </div>
        <hr *ngIf="selectedPort">
        <h5 *ngIf="selectedPort">Schnittstelle:</h5>
        <div class="row" *ngIf="selectedPort">
          <div class="col-3">
            <div class="label">COM Name</div>
            <div>{{selectedPort.comName}}</div>
          </div>
          <div class="col-3">
            <div class="label">COM Hersteller</div>
            <div>{{selectedPort.manufacturer}}</div>
          </div>
          <div class="col-12" *ngIf="selectedPort.pnpId && selectedPort.pnpId !== ''">
            <div class="label">PNP ID</div>
            <div>{{selectedPort.pnpId}}</div>
          </div>
          <div class="col-3">
            <div class="label">Status</div>
            <div *ngIf="connected === 'CONNECTED'" class="fw-bold text-success">Verbunden</div>
            <div *ngIf="connected === 'ERROR'" class="fw-bold text-danger">Fehler</div>
            <div *ngIf="connected === 'CONNECTING'" class="fw-bold text-warning">Verbindet</div>
            <div *ngIf="connected === 'NOT_CONNECTED'" class="fw-bold text-secondary">Nicht verbunden</div>
          </div>
          <div class="col-12 mt-3">
            <button *ngIf="connected !== 'CONNECTED'" class="btn me-2 btn-primary" (click)="connectToPort()" [disabled]="!selectedPort">Verbinden</button>
            <button *ngIf="connected === 'CONNECTED'" class="btn me-2 btn-danger" (click)="closePort()">Trennen</button>
          </div>
        </div>
        <hr>
        <h5>Verbundenes Modul:</h5>
        <div class="row" *ngIf="ati">
          <div class="col-12">
            <div class="label">Hersteller</div>
            <div>{{ati.manufacturer}}</div>
          </div>
          <div class="col-12">
            <div class="label">Modul</div>
            <div>{{ati.model}}</div>
          </div>
        </div>
        <span *ngIf="!ati">Kein Modul verbunden</span>
      </section>

      <section *ngIf="tab === 'network'">
        <div class="row">
          <div class="col-auto">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="checkCSQActive" [(ngModel)]="checkCSQActive">
              <label class="form-check-label" for="checkCSQActive">Signalstärke überwachen</label>
            </div>
          </div>
        </div>

        <app-signal-quality-chart [values]="csq" *ngIf="netTab === 'signal'"></app-signal-quality-chart>
      </section>
      <section *ngIf="tab === 'provider'">
        <div class="row">
          <div class="col-auto">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="checkCPSIActive" [(ngModel)]="checkCPSIActive">
              <label class="form-check-label" for="checkCSQActive">Netzwerk überwachen</label>
            </div>
          </div>
        </div>

        <app-signal-quality-chart [values]="csq" *ngIf="netTab === 'signal'"></app-signal-quality-chart>
      </section>

      <section *ngIf="tab === 'sim'">
        <div class="mb-3">
          <button class="btn btn-sm btn-primary" (click)="serialWriteMessage('AT+CPIN?')"  [disabled]="atStatus !== 'OK'">SIM Prüfen</button>
        </div>
      </section>

      <section *ngIf="tab === 'availableNetworks'">
        <div class="mb-3">
          <button class="btn btn-sm btn-primary" (click)="serialWriteMessage('AT+COPS=?')" [disabled]="atStatus !== 'OK'">Netzdaten aktualisieren</button>
          <div class="spinner-border spinner-border-sm ms-3" role="status" *ngIf="atStatus !== 'OK'">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <app-available-networks-table [values]="cops" [current]="currentCop"></app-available-networks-table>
      </section>

      <section *ngIf="tab === 'device'">
        <div class="mb-3">
          <div class="row">
            <div class="col-12">
              <h5>Hardware:</h5>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Modul:&emsp;<fa-icon [icon]="faSync" class="text-success cs-btn-hover-grow-effect" *ngIf="atStatus === 'OK'" (click)="ati = null; serialWriteMessage('ATI')"></fa-icon>
                      </h5>
                      <span class="label">Hersteller:</span><br>
                      <span *ngIf="ati">{{ati.manufacturer}}</span><br>
                      <span class="label">Model:</span><br>
                      <span *ngIf="ati">{{ati.model}}</span><br>
                      <span class="label">Revision:</span><br>
                      <span *ngIf="ati">{{ati.revision}}</span><br>
                      <span class="label">IMEI:</span><br>
                      <span *ngIf="ati">{{ati.imei}}</span><br>
                      <span class="label">Fähigkeiten:</span><br>
                      <span *ngIf="ati">{{ati.flags}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Sensor:&emsp;</h5>
                      <span class="label">Spannungsversorgung:&emsp;<fa-icon [icon]="faSync" class="text-success cs-btn-hover-grow-effect" *ngIf="atStatus === 'OK'" (click)="cbc = null; serialWriteMessage('AT+CBC')"></fa-icon></span><br>
                      <span *ngIf="cbc">{{cbc.info}}</span>
                      <span *ngIf="!cbc">-</span><br>
                      <span class="label">Temperatur:&emsp;<fa-icon [icon]="faSync" class="text-success cs-btn-hover-grow-effect" *ngIf="atStatus === 'OK'" (click)="temp = null; serialWriteMessage('AT+CPMUTEMP')"></fa-icon></span><br>
                      <span *ngIf="temp">{{temp.info}} °C</span>
                      <span *ngIf="!temp">- °C</span><br>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Status:&emsp;</h5>
                      <span class="label">Aktuelles Funktionslevel:&emsp;<fa-icon [icon]="faSync" class="text-success cs-btn-hover-grow-effect" *ngIf="atStatus === 'OK'" (click)="cbc = null; serialWriteMessage('AT+CFUN?')"></fa-icon></span><br>
                      <span *ngIf="cfun && cfun.level === 0">0 - Minimum functionality</span>
                      <span *ngIf="cfun && cfun.level === 1">1 - Full functionality, online mode</span>
                      <span *ngIf="cfun && cfun.level === 2">4 - Transmit and receive RF circuits disabled</span>
                      <span *ngIf="cfun && cfun.level === 3">5 - Factory Test Mode</span>
                      <span *ngIf="cfun && cfun.level === 4">6 - Reset</span>
                      <span *ngIf="cfun && cfun.level === 5">7 - Offline Mode</span>
                      <span *ngIf="!cfun">-</span><br>
                      <span class="label">Level ändern</span><br>
                      <div class="input-group input-group-sm">
                        <select class="form-select form-select-sm" [(ngModel)]="selectedCFUN">
                          <option [value]="0">0 - Minimum functionality</option>
                          <option [value]="1">1 - Full functionality, online mode</option>
                          <option [value]="4">4 - Transmit and receive RF circuits disabled</option>
                          <option [value]="5">5 - Factory Test Mode</option>
                          <option [value]="7">7 - Offline Mode</option>
                        </select>
                        <button class="btn btn-sm btn-success" (click)="serialWriteMessage('AT+CFUN='+selectedCFUN)">Update</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section *ngIf="tab === 'at'">
        <div class="mb-3">
          <div class="row">
            <div class="col-12">
              <h5>Konsole:</h5>
              <div class="overflow-auto border rounded w-100 mb-3 p-3 text-break" style="height: 500px">
                <pre class="d-block m-0 text-break" style="overflow-x: hidden; max-width: 1000px;" [ngClass]="{'green-text': rawItem.isSend}" *ngFor="let rawItem of rawData"><span>{{rawItem.date | date:'dd.MM.yy HH:mm:ss'}}</span> - {{rawItem.data}}</pre>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="label">Befehl senden</div>
                  <div class="input-group input-group-sm mb-3">
                    <input class="form-control form-control-sm" type="text" placeholder="Befehl eingeben" [(ngModel)]="inputStringRaw" [disabled]="atStatus !== 'OK'">
                    <button class="btn btn-sm btn-secondary" [ngClass]="{'disabled': atStatus !== 'OK'}" (click)="sendRawMessage()">Senden</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>


</main>


